@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #02162b;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.header-main {
  padding: 8px 8px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background: #02162b;
}

.header-main .cm-navbar-main {
  background-color: #00283a;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.cm-navbar-btn-wrapper .cm-navbar-btn {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border-color: transparent;
  padding: 10px 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: visible;
  position: relative;
}

.cm-navbar-btn-wrapper .cm-navbar-btn .annimation-line {
  display: block;
  position: absolute;
  border: 0 solid #fff;
}

.cm-navbar-btn-wrapper .cm-navbar-btn .annimation-line:nth-child(1) {
  bottom: -1px;
  left: -1px;
  border-left-width: inherit;
  -webkit-animation: move1 1.8s infinite ease;
          animation: move1 1.8s infinite ease;
}

.cm-navbar-btn-wrapper .cm-navbar-btn .annimation-line:nth-child(2) {
  top: -1px;
  left: -1px;
  border-top-width: inherit;
  -webkit-animation: move2 1.8s infinite ease;
          animation: move2 1.8s infinite ease;
}

.cm-navbar-btn-wrapper .cm-navbar-btn .annimation-line:nth-child(3) {
  top: -1px;
  right: -1px;
  border-right-width: inherit;
  -webkit-animation: move3 1.8s infinite ease;
          animation: move3 1.8s infinite ease;
}

.cm-navbar-btn-wrapper .cm-navbar-btn .annimation-line:nth-child(4) {
  right: -1px;
  bottom: -1px;
  border-bottom-width: inherit;
  -webkit-animation: move4 1.8s infinite ease;
          animation: move4 1.8s infinite ease;
}

.cm-navbar-btn-wrapper .cm-navbar-btn:hover {
  color: #fff;
  border-color: transparent;
  background-color: transparent;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

/* --------------- Banner Section ---------------*/
.banner-main {
  padding: 8px;
  position: relative;
}

.banner-main .banner-img {
  position: relative;
  height: 450px;
}

.banner-main .banner-img video {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 25px 25px;
  -webkit-filter: blur(2px) brightness(80%);
          filter: blur(2px) brightness(80%);
}

.banner-main .banner-detail-main {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 0;
  width: 100%;
}

.banner-main .banner-detail-main .banner-head {
  color: #fff;
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
  padding: 15px 0;
}

.banner-main .banner-detail-main .banner-head .banner-head-sub {
  color: #02162b;
}

/* --------------- Main Section ---------------*/
.main-section {
  /* --------------- Headding Section ---------------*/
  /* --------------- Experience Section ---------------*/
  /* --------------- Contact Section ---------------*/
}

.main-section .profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 110px);
  background: #00283a;
  position: relative;
  margin-top: -70%;
  border-radius: 10px;
  padding: 55px 35px;
}

.main-section .profile-card.profile-card-fixed {
  width: 420px;
  position: fixed;
  top: 100px;
  z-index: 999;
  margin-top: 0;
}

.main-section .profile-card .profile-icon-wrap {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  overflow: hidden;
}

.main-section .profile-card .profile-icon-wrap .profile-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -15px;
     object-position: 0 -15px;
}

.main-section .profile-card .profile-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 30px 0 20px;
}

.main-section .profile-card .profile-name-wrapper .profile-name {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.main-section .profile-card .profile-name-wrapper .profile-text-wrap {
  position: relative;
  width: 100%;
  height: 30px;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

.main-section .profile-card .profile-name-wrapper .profile-text-wrap #text1,
.main-section .profile-card .profile-name-wrapper .profile-text-wrap #text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #919191;
}

.main-section .profile-card .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.main-section .profile-card .social-media .social-icon {
  font-size: 28px;
  color: #dedee0;
}

.main-section .profile-card .address-main {
  width: 100%;
  padding: 25px 25px;
  margin: 25px 0;
  gap: 15px;
  border-top: 2px groove #153f52;
  border-bottom: 2px groove #153f52;
}

.main-section .profile-card .address-main .address-wrap {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.main-section .profile-card .address-main .address-wrap .address-label {
  color: #fff;
}

.main-section .profile-card .address-main .address-wrap .address-value {
  color: #919191;
}

.main-section .profile-card .contact-main {
  width: 100%;
  gap: 15px;
}

.main-section .profile-card .contact-main .contact-wrap {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background: #02162b;
}

.main-section .profile-card .contact-main .contact-wrap i {
  font-size: 24px;
  color: #fff;
}

.main-section .headding-section {
  margin: 25px 0;
}

.main-section .headding-section .headding-head {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #dedee0;
  margin-bottom: 0;
}

.main-section .headding-section .headding-number {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #919ca1;
  position: relative;
  text-align: end;
}

.main-section .headding-section .headding-number::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 95%;
  border: 1px dashed #e1e1eb26;
  margin-left: 25px;
}

.main-section .road-map-main {
  margin: 50px 0 51px;
}

.main-section .road-map-main .road-map-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 175px;
}

@media (max-width: 991px) {
  .main-section .road-map-main .road-map-wrapper {
    margin-bottom: 25px;
    height: auto;
    display: block;
  }
}

.main-section .road-map-main .road-map-wrapper::before {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

.main-section .road-map-main .road-map-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

.main-section .road-map-main .road-map-wrapper .road-map-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top-color: #00283a;
  border-right-color: #00283a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 992px) {
  .main-section .road-map-main .road-map-wrapper .road-map-circle {
    position: unset;
    border: 25px solid #00283a;
  }
}

.main-section .road-map-main .road-map-wrapper .road-map-circle .road-map-circle-text {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #00283a;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px #00000021;
          box-shadow: 0px 0px 10px 5px #00000021;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-section .road-map-main .road-map-wrapper .road-map-card {
  width: 35%;
  background: #00283a;
  padding: 20px 20px;
  z-index: 1;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

.main-section .road-map-main .road-map-wrapper .road-map-card::before {
  content: "";
  width: 25%;
  height: 20px;
  background: #00283a;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -13%;
  z-index: -1;
}

@media (max-width: 991px) {
  .main-section .road-map-main .road-map-wrapper .road-map-card {
    width: 100%;
    margin-top: 30px;
    position: unset;
  }
  .main-section .road-map-main .road-map-wrapper .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 425px) {
  .main-section .road-map-main .road-map-wrapper .road-map-card {
    top: 45%;
  }
}

.main-section .road-map-main .road-map-wrapper .road-map-card .card-head {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: #fff;
}

.main-section .road-map-main .road-map-wrapper .road-map-card .card-text {
  color: #fff;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .main-section .road-map-main .road-map-wrapper .road-map-card .card-text {
    -webkit-line-clamp: 4;
  }
}

.main-section .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
  border-bottom-color: #00283a;
  border-left-color: #00283a;
  border-top-color: transparent;
  border-right-color: transparent;
}

@media (max-width: 991px) {
  .main-section .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
    border-color: #00283a;
  }
}

.main-section .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card {
  left: 0;
}

.main-section .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
  right: -13%;
  left: unset;
}

@media (max-width: 991px) {
  .main-section .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 425px) {
  .main-section .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    top: 45%;
  }
}

.main-section .contact-main .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.main-section .contact-main .form-wrapper .form-card {
  position: relative;
  width: 100%;
}

.main-section .contact-main .form-wrapper .form-card .form-input {
  padding: 20px 25px 15px;
  width: 100%;
  border: 1px solid #919191;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.main-section .contact-main .form-wrapper .form-card .form-input:valid, .main-section .contact-main .form-wrapper .form-card .form-input:focus {
  border: 1px solid #919191;
}

.main-section .contact-main .form-wrapper .form-card .form-input:valid ~ .form-label,
.main-section .contact-main .form-wrapper .form-card .form-input:focus ~ .form-label {
  color: #919191;
  top: 30%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  font-size: 13px;
  line-height: 23px;
}

.main-section .contact-main .form-wrapper .form-card .form-input:-webkit-autofill, .main-section .contact-main .form-wrapper .form-card .form-input:-webkit-autofill:hover, .main-section .contact-main .form-wrapper .form-card .form-input:-webkit-autofill:focus, .main-section .contact-main .form-wrapper .form-card .form-input:-webkit-autofill:active {
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.main-section .contact-main .form-wrapper .form-card .form-input::-webkit-outer-spin-button, .main-section .contact-main .form-wrapper .form-card .form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-section .contact-main .form-wrapper .form-card .form-label {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #919191;
}

.main-section .contact-main .form-wrapper .form-card .form-textarea {
  padding: 20px 25px 15px;
  width: 100%;
  border: 1px solid #919191;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.main-section .contact-main .form-wrapper .form-card .form-textarea:valid, .main-section .contact-main .form-wrapper .form-card .form-textarea:focus {
  border: 1px solid #919191;
}

.main-section .contact-main .form-wrapper .form-card .form-textarea:valid ~ .form-textarea-label,
.main-section .contact-main .form-wrapper .form-card .form-textarea:focus ~ .form-textarea-label {
  color: #919191;
  top: 18%;
  -webkit-transform: translateY(-82%);
          transform: translateY(-82%);
  font-size: 13px;
  line-height: 23px;
}

.main-section .contact-main .form-wrapper .form-card .form-textarea:-webkit-autofill, .main-section .contact-main .form-wrapper .form-card .form-textarea:-webkit-autofill:hover, .main-section .contact-main .form-wrapper .form-card .form-textarea:-webkit-autofill:focus, .main-section .contact-main .form-wrapper .form-card .form-textarea:-webkit-autofill:active {
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.main-section .contact-main .form-wrapper .form-card .form-textarea-label {
  position: absolute;
  left: 25px;
  top: 30%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #919191;
}

@-webkit-keyframes move1 {
  0% {
    height: calc(100% + 1px);
    bottom: -1px;
  }
  54% {
    height: 0;
    bottom: calc(100% + 1px);
  }
  55% {
    height: 0;
    bottom: -1px;
  }
  100% {
    height: calc(100% + 1px);
    bottom: -1px;
  }
}

@keyframes move1 {
  0% {
    height: calc(100% + 1px);
    bottom: -1px;
  }
  54% {
    height: 0;
    bottom: calc(100% + 1px);
  }
  55% {
    height: 0;
    bottom: -1px;
  }
  100% {
    height: calc(100% + 1px);
    bottom: -1px;
  }
}

@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: -1px;
  }
  50% {
    width: calc(100% + 1px);
    left: -1px;
  }
  100% {
    width: 0;
    left: calc(100% + 1px);
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: -1px;
  }
  50% {
    width: calc(100% + 1px);
    left: -1px;
  }
  100% {
    width: 0;
    left: calc(100% + 1px);
  }
}

@-webkit-keyframes move3 {
  0% {
    height: calc(100% + 1px);
    top: -1px;
  }
  54% {
    height: 0;
    top: calc(100% + 1px);
  }
  55% {
    height: 0;
    top: -1px;
  }
  100% {
    height: calc(100% + 1px);
    top: -1px;
  }
}

@keyframes move3 {
  0% {
    height: calc(100% + 1px);
    top: -1px;
  }
  54% {
    height: 0;
    top: calc(100% + 1px);
  }
  55% {
    height: 0;
    top: -1px;
  }
  100% {
    height: calc(100% + 1px);
    top: -1px;
  }
}

@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: -1px;
  }
  55% {
    width: calc(100% + 1px);
    right: -1px;
  }
  100% {
    width: 0;
    right: calc(100% + 1px);
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: -1px;
  }
  55% {
    width: calc(100% + 1px);
    right: -1px;
  }
  100% {
    width: 0;
    right: calc(100% + 1px);
  }
}
/*# sourceMappingURL=resume.css.map */