@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$prime-color: #00283a;
$secondary-color: #02162b;
$color-white: #fff;
$color-gray: #919191;
$color-black: #000;

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: $secondary-color;
  font-family: "Poppins", sans-serif;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
/* --------------- Header Main ---------------*/
.header-main {
  padding: 8px 8px 0;
  position: sticky;
  top: 0;
  z-index: 9;
  background: $secondary-color;
  .cm-navbar-main {
    background-color: $prime-color;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  }
}

.cm-navbar-btn-wrapper {
  .cm-navbar-btn {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    background: transparent;
    color: $color-white;
    border-color: transparent;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 5px;
    overflow: visible;
    position: relative;
    .annimation-line {
      display: block;
      position: absolute;
      border: 0 solid $color-white;
      &:nth-child(1) {
        bottom: -1px;
        left: -1px;
        border-left-width: inherit;
        animation: move1 1.8s infinite ease;
      }
      &:nth-child(2) {
        top: -1px;
        left: -1px;
        border-top-width: inherit;
        animation: move2 1.8s infinite ease;
      }
      &:nth-child(3) {
        top: -1px;
        right: -1px;
        border-right-width: inherit;
        animation: move3 1.8s infinite ease;
      }
      &:nth-child(4) {
        right: -1px;
        bottom: -1px;
        border-bottom-width: inherit;
        animation: move4 1.8s infinite ease;
      }
    }
    &:hover {
      color: $color-white;
      border-color: transparent;
      background-color: transparent;
      transition: ease-in-out;
    }
  }
}

/* --------------- Banner Section ---------------*/
.banner-main {
  padding: 8px;
  position: relative;

  .banner-img {
    position: relative;
    height: 450px;
    // &::before {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   background: #00000060;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   border-radius: 5px 5px 25px 25px;
    // }
    video {
      width: 100%;
      height: 450px;
      object-fit: cover;
      border-radius: 5px 5px 25px 25px;
      filter: blur(2px) brightness(80%);
    }
  }
  .banner-detail-main {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    .banner-head {
      color: $color-white;
      font-size: 50px;
      line-height: 55px;
      font-weight: 600;
      padding: 15px 0;
      .banner-head-sub {
        color: $secondary-color;
      }
    }
  }
}

/* --------------- Main Section ---------------*/
.main-section {
  /* --------------- Profile Section ---------------*/
  .profile-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 110px);
    background: $prime-color;
    position: relative;
    margin-top: -70%;
    border-radius: 10px;
    padding: 55px 35px;
    // gap: 35px;
    &.profile-card-fixed {
      width: 420px;
      position: fixed;
      top: 100px;
      z-index: 999;
      margin-top: 0;
    }
    .profile-icon-wrap {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      overflow: hidden;
      .profile-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 -15px;
      }
    }
    .profile-name-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin: 30px 0 20px;
      .profile-name {
        font-size: 40px;
        line-height: 40px;
        font-weight: 500;
        color: $color-white;
        margin-bottom: 0;
      }
      .profile-text-wrap {
        position: relative;
        width: 100%;
        height: 30px;
        filter: blur(0.5px);
        #text1,
        #text2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          display: inline-block;
          font-size: 20px;
          text-align: center;
          user-select: none;
          color: $color-gray;
        }
      }
    }
    .social-media {
      display: flex;
      align-items: center;
      gap: 25px;
      .social-icon {
        font-size: 28px;
        color: #dedee0;
      }
    }
    .address-main {
      width: 100%;
      padding: 25px 25px;
      margin: 25px 0;
      gap: 15px;
      border-top: 2px groove #153f52;
      border-bottom: 2px groove #153f52;
      .address-wrap {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: capitalize;
        .address-label {
          color: $color-white;
        }
        .address-value {
          color: $color-gray;
        }
      }
    }
    .contact-main {
      width: 100%;
      gap: 15px;
      .contact-wrap {
        width: 55px;
        height: 55px;
        border-radius: 10px;
        background: $secondary-color;
        i {
          font-size: 24px;
          color: $color-white;
        }
      }
    }
  }

  /* --------------- My Story Section ---------------*/
  .my-story-main {
    background-color: $prime-color;
    padding: 15px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin-top: -40px;
    &::before {
      content: "";
      position: absolute;
      left: 30px;
      top: -8px;
      height: 8px;
      width: calc(100% - 60px);
      background-color: #00283a;
      border-radius: 10px 10px 0 0;
      opacity: 0.3;
    }
    &::after {
      content: '"';
      position: absolute;
      bottom: -15px;
      right: 55px;
      color: $color-gray;
      font-size: 50px;
      line-height: 50px;
      font-style: italic;
    }
    .my-story-text {
      font-size: 16px;
      line-height: 27px;
      font-weight: 500;
      color: $color-white;
      margin-bottom: 0;
    }
  }

  /* --------------- Headding Section ---------------*/
  .headding-section {
    margin: 45px 0;

    .headding-head {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
      color: #dedee0;
      margin-bottom: 0;
    }
    .headding-number {
      flex: 1;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      color: #919ca1;
      position: relative;
      text-align: end;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        width: 95%;
        border: 1px dashed #e1e1eb26;
        margin-left: 25px;
      }
    }
  }

  /* --------------- Education Section ---------------*/
  .education-main {
    .education-wrap {
      gap: 85px;
      padding: 30px;
      padding-right: 0;
      position: relative;
      @media (max-width: 767px) {
        padding: 20px;
      }
      .eduction-iconwrap {
        min-width: 130px;
        width: 130px;
        height: 130px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          background-color: $prime-color;
          transform: rotate(45deg);
          border-radius: 10px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 90%;
          border: 8px solid $prime-color;
          width: 100%;
          @media (max-width: 767px) {
            transform: rotate(90deg);
            left: 0;
            top: unset;
            bottom: -50px;
          }
        }
        .education-icon {
          color: $color-white;
          font-size: 45px;
          // transform: rotate(-45deg);
          z-index: 2;
        }
      }
      .eduction-detail {
        background: $prime-color;
        border-radius: 10px;
        padding: 35px;
        color: $color-white;
        .eduction-detail-head {
          margin-bottom: 15px;
          @media (max-width: 767px) {
            gap: 10px;
          }
          .eduction-detail-heading {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 0;
            @media (max-width: 767px) {
              text-align: center;
            }
          }
          .eduction-detail-years {
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            font-style: italic;
            color: $color-gray;
          }
        }
        .eduction-detail-text {
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: $color-gray;
          @media (max-width: 767px) {
            text-align: center;
          }
        }
        .eduction-detail-per {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: $color-gray;
          @media (max-width: 767px) {
            text-align: center;
          }
        }
      }
    }
  }

  /* --------------- Experience Section ---------------*/
  .timeline-main {
    padding: 0 0;
    .timeline-wrap {
      gap: 30px;
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: calc(100% - 10px);
        background-color: #00283a;
        @media (max-width: 767px) {
          left: 95%;
        }
      }
      .timeline-card {
        width: 50%;
        margin-right: auto;
        @media (max-width: 767px) {
          width: 95%;
        }
        &::after {
          content: "";
          position: absolute;
          top: 10px;
          right: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid #fff;
          background: #00283a;
        }
        .timeline-card-wrap {
          margin-right: 35px;
          background-color: #00283a;
          border-radius: 10px;
          padding: 30px;
          @media (max-width: 767px) {
            padding: 20px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 30px;
            top: -8px;
            height: 8px;
            width: calc(100% - 60px);
            background-color: #00283a;
            border-radius: 10px 10px 0 0;
            opacity: 0.3;
          }
          &::after {
            content: "";
            position: absolute;
            top: 10px;
            right: -8px;
            width: 20px;
            height: 20px;
            background-color: #00283a;
            border-radius: 5px;
            transform: rotate(45deg);
          }
          .card-head-wrap {
            gap: 10px;
            margin-bottom: 10px;
            .timeline-card-head {
              font-size: 28px;
              line-height: 38px;
              font-weight: 500;
              color: #fff;
              margin-bottom: 0;
              @media (max-width: 767px) {
                font-size: 18px;
                line-height: 28px;
              }
            }
            .timeline-card-subhead {
              font-size: 16px;
              line-height: 26px;
              font-weight: 400;
              color: #bdbdbd;
              margin-bottom: 0;
              font-style: italic;
              @media (max-width: 767px) {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }

          .timeline-card-text {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #919ca1;
            margin: 25px 0 0;
            @media (max-width: 767px) {
              font-size: 12px;
              line-height: 22px;
            }
          }
        }

        &:nth-child(even) {
          @media (min-width: 768px) {
            margin-left: auto;
            margin-right: 0;
            &::after {
              right: unset;
              left: -10px;
            }
            .timeline-card-wrap {
              margin-right: 0;
              margin-left: 35px;
              &::after {
                right: unset;
                border-left: none;
                left: -8px;
                border-right: 10px solid #00283a;
              }
            }
          }
        }
      }
      &.timelineAnimation {
        &::before {
          animation: line 5s linear;
        }
        .timeline-card {
          &::after {
            animation: fadeIn 1.5s;
            animation-fill-mode: both;
          }
          .timeline-card-wrap {
            animation: fadeInRight 2.5s;
            animation-fill-mode: both;
          }
          &:nth-child(even) {
            @media (min-width: 768px) {
              &::after {
                animation-delay: 2.6s;
              }
              .timeline-card-wrap {
                animation: fadeInLeft 2.5s;
                animation-delay: 2.5s;
                animation-fill-mode: both;
              }
            }
          }
        }
      }
    }
  }

  /* --------------- Skill Section ---------------*/
  .skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // display: flex;
    // flex-direction: column;
    gap: 20px;
    .skill-wrrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .skill-name {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
      }

      .skill-bar {
        height: 10px;
        background-color: #00283a;
        border-radius: 8px;
      }

      .skill-per {
        height: 10px;
        background: #23576f;
        border-radius: 8px;
        width: 0;
        transition: 1s linear;
        position: relative;
        &:before {
          content: attr(per);
          position: absolute;
          padding: 4px 6px;
          background-color: #23576f;
          color: #fff;
          font-size: 11px;
          border-radius: 4px;
          top: -35px;
          right: 0;
          transform: translateX(50%);
        }

        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #23576f;
          top: -16px;
          right: 0;
          transform: translateX(50%) rotate(45deg);
          border-radius: 2px;
        }
      }
    }
  }

  /* --------------- Contact Section ---------------*/
  .contact-main {
    margin-bottom: 35px;
    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      .form-card {
        position: relative;
        width: 100%;

        .form-input {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid $color-gray;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          box-sizing: border-box;
          color: $color-white;

          &:valid,
          &:focus {
            border: 1px solid $color-gray;
          }

          &:valid ~ .form-label,
          &:focus ~ .form-label {
            color: $color-gray;
            top: 30%;
            transform: translateY(-70%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .form-label {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
          color: $color-gray;
        }
        .form-textarea {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid $color-gray;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          resize: none;
          box-sizing: border-box;
          color: $color-white;

          &:valid,
          &:focus {
            border: 1px solid $color-gray;
          }

          &:valid ~ .form-textarea-label,
          &:focus ~ .form-textarea-label {
            color: $color-gray;
            top: 18%;
            transform: translateY(-82%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
        }
        .form-textarea-label {
          position: absolute;
          left: 25px;
          top: 30%;
          transform: translateY(-70%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
          color: $color-gray;
        }
      }
      .form-button-card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .form-button {
          background: #00283a;
          border: 0;
          padding: 10px 35px;
          color: #fff;
          border-radius: 5px;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
      }
    }
  }
}

/* --------------- Button keyframes ---------------*/
@keyframes move1 {
  0% {
    height: calc(100% + 1px);
    bottom: -1px;
  }

  54% {
    height: 0;
    bottom: calc(100% + 1px);
  }

  55% {
    height: 0;
    bottom: -1px;
  }

  100% {
    height: calc(100% + 1px);
    bottom: -1px;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: -1px;
  }

  50% {
    width: calc(100% + 1px);
    left: -1px;
  }

  100% {
    width: 0;
    left: calc(100% + 1px);
  }
}

@keyframes move3 {
  0% {
    height: calc(100% + 1px);
    top: -1px;
  }

  54% {
    height: 0;
    top: calc(100% + 1px);
  }

  55% {
    height: 0;
    top: -1px;
  }

  100% {
    height: calc(100% + 1px);
    top: -1px;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: -1px;
  }

  55% {
    width: calc(100% + 1px);
    right: -1px;
  }

  100% {
    width: 0;
    right: calc(100% + 1px);
  }
}

/* --------------- Experience keyframes ---------------*/
@keyframes line {
  0% {
    height: 0;
  }

  100% {
    height: calc(100% - 10px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
